.history-card {
    margin-bottom: 8px;
    min-width: 200px;
    
}

.history-card:hover {
    background-color: whitesmoke;
    cursor: pointer;

}

.no-calculations{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 30%;
}

.sticky-paginator {
    position: sticky;
    bottom: 0 !important;
    background-color: white;
    margin-bottom: 0px !important;}