.login-screen {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

.input-fields {
  display: flex;
  flex-direction: column;
}

.input-form {
  width: 100% !important;
}

a {
  text-decoration: none;
  color: rgb(58, 58, 236);
}

a:hover {
  text-decoration: underline;
}
