<div class="login-screen">
  <div>
    <h1>Welcome back!</h1>
  </div>
  <div>
    <div class="input-fields">
      <div>
        <mat-form-field appearance="outline" class="input-form">
          <mat-label>Email</mat-label>
          <input matInput type="text" placeholder="Email" />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="outline" class="input-form">
          <mat-label>Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div>
        <button
          [style.width]="'50px'"
          [disabled]="loading"
          (click)="login()"
          mat-raised-button
          color="primary"
          style="margin-right: 5px"
        >
          <span *ngIf="loading">
            <mat-spinner
              color="primary"
              style="display: inline-block !important"
              [diameter]="30"
            >
            </mat-spinner>
          </span>
          <span *ngIf="!loading"> Login </span>
        </button>
        <a routerLink="/register">Register</a>
      </div>
    </div>
  </div>
</div>
