/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.success {
  color: black !important;
  background-color: green !important;
}

.sending {
  color: black !important;
  background-color: yellow !important;
}

.error {
  color: black !important;
  background-color: red !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
